<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Code_challenge.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exam 1: Querying (SQL)
© ExploreAI Academy

## Instructions to students

This section will test your knowledge on SQL.

This notebook contains some starter code, as well as questions. 

Write the necessary code to find the answers to the questions below. Select the corresponding answer on Athena. The questions included in this notebook are numbered according to the Athena questions. The options for each question have also been included (these may be in a different order to what is on Athena).

Be sure to save this notebook upon completion and upload it at the end of your exam when prompted (part of the multiple-choice test).

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good luck!_**

## Honour code

I, YOUR NAME YOUR SURNAME, confirm – by submitting this document – that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1bl28j1Qe5jNyfnd7Tcuyilj-NBEQP_Tt/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract. 

>⚠️ Sharing or uploading this assessment anywhere (other than onto Athena), as whole or in part, is a violation of the honour code.

## The dataset

We will be using the NIDS Coronavirus Rapid Mobile (CRAM) Survey Wave 5 2021 dataset. It is comprised of three tables that include 62 features:

`Personal_2021`
This table contains personal information such as, gender, interview month, date of birth, and marital status. 

`Household_2021`
This table provides information on households such as the household income, the province and geographical type of the household, and if the household has access to water and electricity.

`Employment_2021`
This table provides data on individuals, such as whether they are being paid a wage or salary, how many days they have worked in the past month, and if they have not worked, the reason for absence.

*Note that in the 2021 data, only one person was interviewed per household. Therefore, the `pid` in `Personal_2021` is the same as the `pid` in `Household_2021` for each individual. This means there is no separate household ID (`hhid`) in the 2021 dataset—only `pid` is used to represent both personal and household data.*

Below is an entity relationship diagram (ERD) of the `NIDS-CRAM Wave 5 2021` database:

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/2021-database-erd.png"  style="width:40%";/>
</div>

This ERD illustrates the relationships between the tables in the database.

You have been commissioned to analyse employment trends and household economic status in the wake of economic changes in 2021. You will use the dataset containing Employment_2021, Household_2021, and Personal_2021 tables. This analysis aims to inform government policies on economic recovery and welfare support.

The following questions will guide you through examining household income distributions, employment trends, and demographic impacts. Your insights can help influence policies to address economic inequality.

## Loading the database

Before we begin, we need to prepare our SQL environment.

We can do this by loading the magic command `%load_ext sql`.

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

Now we can load our database. 

To do this, we will need to ensure we have downloaded the `NiDS_CRAM_2021.db` sqlite file and have stored it in a known location. Update the cell below to connect to the location of the `.db` file.

[Download NiDS_CRAM_2021.db](https://github.com/Explore-AI/Public-Data/blob/master/NiDS_CRAM_2021.db)

In [ ]:
%sql sqlite:////NiDS_CRAM_2021.db

We can also load our database using a sqlite3 connection for those commands that are not supported by IPython.

In [ ]:
import sqlite3
# Connect to the NiDS_CRAM database
conn = sqlite3.connect('/NiDS_CRAM_2021.db')

In [ ]:
cursor = conn.cursor()

# Questions

Use the cell below each question to write and execute the relevant SQL queries. Your query should assist you to answer the multiple-choice questions on Athena.

### Question 1
Which of the following best describes the role of a `pid` in the database?

* `pid` is used as a foreign key to enforce referential integrity across multiple tables but does not ensure uniqueness within a table.
* `pid` uniquely identifies each record in a table and ensures that there are no duplicate entries.
* `pid` is an optional field that allows multiple NULL values within a table.
* `pid` is used to automatically generate indexes for faster queries.

### Question 2

The size of a household can influence various factors, including income levels and the likelihood of getting Infectious Diseases, such as COVID-19.

Write a query to retrieve all individuals who belong to households with more than 20 residents.

How many households have more than 20 residents?

* 0
* 6
* 21
* 10

In [ ]:
%%sql
#Your code here

### Question 3

Since this survey was conducted during the COVID-19 pandemic, many individuals were unable to work due to restrictions or the need to self-isolate.

Write a query to calculate the average number of days worked (`emdays`) by individuals who have reported any income (`eminc`). Ensure that your query only includes individuals with non-null and income values greater than 0 from the `Employment_2021` table.

* 4.5
* 4.8
* 3.3
* 3.9

In [ ]:
%%sql
#Your code here

### Question 4

The government is interested in identifying how many households consist solely of retirement-age individuals (i.e., all members are 60 years or older).

Write a query to count the number of households where **every member** is at or above retirement age (i.e., the number of people in the household is equal to the number of people aged 60 or older).

Note: You need to examine the `Household_2021` table to identify the relevant column/s to use. Ensure that your query only includes individuals with non-null values in the relevant columns.

How many households consist solely of retirement-age individuals?

* 5
* 98
* 112
* 147

In [ ]:
%%sql
#Your code here

### Question 5

Many individuals have dependents in the form of children who rely on them for support. In this case, dependents are classified as children younger than 18 years old. The number of child grants indicates how much support they receive from the government.

Write a query to display the `pid`, the total number of children in the household, and the number of child grants.

Filter the results to only show the rows for the following `pid` values: `311305`, `787796`, `323054`, and `491746`.

Note: You need to examine the dataset to identify the relevant column/s to use to calculate dependents < 18.

What is something interesting about the results?
* 311305 receives the most child grants but has the least children of the four `pid`'s.
* 787796 receives 2 child grants but only has 1 dependent under 18.
* 491746 has 6 dependents but no child grants.
* 323054 has no dependents under 18 but receives 1 child grant.

In [ ]:
%%sql
#Your code here

### Question 6
To assess poverty within South Africa, we can look at the national poverty lines in 2021. The national poverty lines account for both food and non-food expenditure of individuals within a household. These lines are adjusted periodically by the government to reflect changes in the cost of living.

To assess whether an individual falls below one of South Africa’s three poverty lines, you need to categorise them based on their household income per person. The three poverty lines are the Food Poverty Line (FPL), Lower-Bound Poverty Line (LBPL), and Upper-Bound Poverty Line (UBPL). If an individual is above all of these lines, they fall into the 'None' category.

Your task is to calculate and categorise households based on the poverty lines set by the government. These poverty lines are defined as follows:

* FPL: Income per person < 624.
* LBPL: Income per person ≥ 624 and < 890.
* UBPL: Income per person ≥ 890 and < 1135.
* None: Income per person ≥ 1135.

Write a query that divides the total household income (`hhinc`) by the number of residents in the household (`nopres`) to calculate the income per person. Then, based on the income per person, categorise each household into the poverty lines mentioned above.

Your solution should filter out any rows with missing or null values in the columns and handle any division by zero. 

Display the percentage of households that fall into each poverty category.

What percentage of people are in each category?

* FPL: 45.32%, LBPL: 15.27%, UBPL: 10.18%, None: 29.23%
* FPL: 52.12%, LBPL: 13.56%, UBPL: 9.10%, None: 25.22%
* FPL: 50.73%, LBPL: 11.44%, UBPL: 7.18%, None: 30.64%
* FPL: 48.29%, LBPL: 12.33%, UBPL: 8.05%, None: 31.33%

In [ ]:
%%sql
# Step 1: Calculate income per person and categorise based on poverty lines
#Your code here

# Step 2: Final aggregation and result
#Your code here

### Question 7

When calculating the poverty line classifications, explain the role of the GROUP BY clause.

* GROUP BY divides the dataset by poverty classifications, allowing the final aggregation of the number of households in each classification category. Without it, the poverty classifications would not be grouped correctly for analysis.

* GROUP BY ensures that the poverty classifications are applied correctly by removing rows with NULL values, which otherwise would distort the calculation of the average income per person.

* GROUP BY is used to rank the households based on their income per person, which helps in determining which households fall under specific poverty line classifications such as FPL, LBPL, UBPL, or None.

* GROUP BY automatically ensures that households are sorted by their income per person in descending or ascending order, which is essential for applying the poverty classifications based on national thresholds.

### Question 8
To better understand economic engagement, the government wants to measure how many individuals are actively participating in the labour force. For this analysis, the active labour force includes individuals who are currently employed (`em = 1`) or who actively searched for work in the previous month (`unems = 'Yes'`).

Since this survey interviewed participants aged 18 and over, we need to exclude those who are retired (`em = 3`) to calculate the potential labour force accurately.

Write a query to calculate the active labour force participation rate as a percentage of the total potential labour force in the Employment_2021 table. Ensure to exclude any rows with NULL values in both the relevant columns.
* 43.77%
* 56.96%
* 51.60%
* 67.57%

In [ ]:
%%sql
#Your code here

### Question 9

There have been reports that many households rely heavily on a single member to provide for the household. You are tasked with identifying individuals whose personal income (`eminc`) accounts for more than 75% of their household income (`hhinc`).

Remember to ignore NULL values.

What percentage of individuals fall into this category?

* 0%
* 31.38%
* 61.70%
* 55.75%

In [ ]:
%%sql
#Your code here

### Question 10

The government is investigating the gender pay gap across different employment sectors. To understand the differences in average income (`eminc`) between males and females, write a query to:
* Calculate the total income for males (`gen = 'Male'`) who reported any positive income (`eminc > 0`) and compute the average income by dividing this total by the number of males with positive income.
* Repeat the same calculation for females (`gen = 'Female'`).
* Return the average income for both males and females.

Remember to exclude rows with NULL values in either column and only include those who are actually earning (`eminc > 0`).

What is the average income for males and the average income of females?

* Male: R8973, Female: R5161
* Male: R11154, Female: R6328
* Male: R15081, Female: R5823
* Male: R9071, Female: R4755

In [ ]:
%%sql
#Your code here

### Question 11
According to findings from a study conducted on the SA-TIED programme, in 2021, women in South Africa earned 78 cents for every rand earned by men. This is a 22% gender pay gap. 

The results from our analysis were significantly higher than this. Why do you think this is?
* The analysis was skewed by including too many male participants, which led to a lower reported pay gap.
* The lower pay gap is a result of women being over-represented in higher-paying industries in the survey.
* We could only calculate income for households rather than individual earnings, causing the discrepancy in results.
* There was a significant amount of missing data, which means we did not have enough data to accurately determine the population pay gap.

In [ ]:
%%sql
#Your code here

### Question 12

There is a hypothesis that larger households tend to have lower income per person. To test this, calculate the average household size and the corresponding average income per person (`hhinc / nopres`).

Filter out any households with a missing or zero values in `nopres` or `hhinc`.

Determine the average income per person for:
* Households with more than 8 residents
* Households with 8 or fewer residents

What is the average income per person for households with more than 8 residents, compared to those with 8 or less?

* Based on our data, the hypothesis was correct. 8 or fewer residents: R2048.88, More than 8 residents: R373.70
* Based on our data, the hypothesis was incorrect. 8 or fewer residents: R469.58, More than 8 residents: R1806.73
* Based on our data, the hypothesis was correct. 8 or fewer residents: R2106.92, More than 8 residents: R299.45
* Based on our data, the hypothesis was correct. 8 or fewer residents: R1950.21, More than 8 residents: R400.36

In [ ]:
%%sql
#Your code here

### Question 13

The government wants to assess how many households received the special COVID-19 social relief of distress grant in March. They need to know how many households had at least one member receiving this grant (`hhinccv >= 1`).

Write a query to count the number of households that received the COVID-19 relief grant.

How many households received the COVID-19 relief grant?

* 5390
* 4145
* 727
* 1918

In [ ]:
%%sql
#Your code here

### Question 14
We know COVID-19 restrictions impacted people's ability to work. Using the column `noemex`, which details why people were unavailable or unwilling to work, identify how many individuals cited reasons related to COVID-19, specifically: "Coronavirus," "Lockdown," or "Scared of Coronavirus".

What is the total number of people impacted by these COVID-19 reasons?

* 253
* 135
* 76
* 28

In [ ]:
%%sql
#Your code here

### Question 15
The government is interested in exploring whether larger households were more likely to receive the COVID-19 social relief grant. Write a query to calculate the average household size (`nopres`) for households that received at least one COVID-19 grant (`hhinccv > 0`).

What is the average household size for these households?

* 8 people
* 6 people
* 7 people
* 11 people

In [ ]:
%%sql
#Your code here

### Question 16

We want to identify the most common reasons people gave for not working due to COVID-19 in March, based on the `emabs` column. Write a query to count the occurrences of each reason related to COVID-19 (`emabs`). Include: "Lockdown", "Self isolating" "Business temporarily closed," and "Illegal to go to work."

Which of the COVID-19 reasons had the highest number of occurrences?

* Lockdown
* Business temporarily closed
* Illegal to go to work
* Self-isolating

In [ ]:
%%sql
#Your code here

### Question 17

The Department of Social Development is investigating food insecurity during March. They want to know how many households ran out of money to buy food (`hhfdyn = 'Yes'`).

Write a query to calculate the total number of households that experienced this issue.

* 2312
* 89
* 1116
* 5650

In [ ]:
%%sql
#Your code here

### Question 18
The Ministry of Employment is interested in exploring gender (`gen`) differences in employment. Write a query to calculate the percentage of males (`gen = 'Male'`) and females (`gen = 'Female'`) who had a job in March (em = 1).

Hint: Use a Common Table Expression (CTE) to first count the total number of individuals and the number who were employed for each gender group.

*Note: The employment percentages for males and females do not need to sum to 100%. The percentages should represent the proportion of males and females who are employed within their respective gender groups, not the overall workforce distribution between the two genders.*

What proportion of males and females are employed (within their respective gender groups)?
* Female: 22.34%, Male: 61.58%
* Female: 30.13%, Male: 43.82%
* Female: 43.98%, Male: 40.12%
* Female: 34.08%, Male: 52.97%

In [ ]:
%%sql
#Your code here

### Question 19

Suppose we want to combine the Personal_2021 data with a hypothetical Personal_2017 data. The columns in the 2017 data have the same names but are suffixed with '_17'. We want to ensure that our report includes all individuals captured in 2017, along with any new data from 2021, if available. Which join should we use?

* SELECT * FROM Personal_2021 LEFT JOIN Personal_2017 ON Personal_2021.pid = Personal_2017.pid_17
* SELECT * FROM Personal_2017 LEFT JOIN Personal_2021 ON Personal_2017.pid_17 = Personal_2021.pid
* SELECT * FROM Personal_2021 INNER JOIN Personal_2017 ON Personal_2021.pid = Personal_2017.pid_17
* SELECT * FROM Personal_2017 RIGHT JOIN Personal_2021 ON Personal_2017.pid_17 = Personal_2021.pid

### Question 20

The government wants to compare employment rates across provinces. Write a query to calculate the percentage of individuals who were employed in each province (`prov`) in March (`em = 1`).

Ensure you are calculating the **employment rate** for each province, which means the percentage of individuals who are currently employed within that province relative to the total potential labour force. It **does not** mean that the percentages across provinces will add up to 100%.

For this analysis, currently employed individuals are identified as `em = 1`. The potential labour force is anyone who is not retired, i.e., `em != 3`

Each province's percentage is calculated as:

$$\text{Employment Rate} = \left(\frac{\text{Number of Currently Employed People in Province}}{\text{Total Potential Labour Force of Province}}\right) \times 100$$

Remember to exclude NULL values.

Hint: Use a CTE to help calculate both the total potential labour force and the number of employed individuals for each province. This simplifies your final query.

Which province had the highest employment rate and which province had the lowest employment rate?

* Highest: Western Cape, Lowest: Limpopo
* Highest: Gauteng, Lowest: Mpumalanga
* Highest: Northern Cape, Lowest: North West
* Highest: Gauteng, Lowest: North West

In [ ]:
%%sql
#Your code here

### Question 21

When calculating the employment rate across different provinces, why is it crucial to consider the total sample size of each province instead of comparing the absolute number of employed individuals across provinces?

* If we did not include each province's sample size, smaller provinces would always have higher income.
* To ensure we account for differences in population size in each province.
* To ensure that the total percentage of employed individuals across provinces adds up to 100%.
* To prioritise larger provinces and ensure they receive more resources than smaller provinces.

### Question 22

The government is analysing household income across provinces to understand how households compare to the average income within their respective provinces.

Write a query that does the following:

* Calculate the average household income for each province: Use a window function to calculate the average household income (`hhinc`) for each province (`prov`) while retaining individual household details. Remember to exclude rows with NULL values in the columns.
* Categorise households based on income: Compare each household's income to the average income in their province and categorise them as either 'Above Average', 'Below Average', or 'At Average'.
* Count the households in each income category: Group the results by province and income category and count how many households fall into each category.

The goal is to identify how many households, in each province, have income above, below, or at the provincial average.

Which province has the most household earning below the provincial average?

* Mpumalanga
* Free State
* Gauteng
* KwaZulu-Natal

In [ ]:
%%sql
#Your code here


### Question 23

Why is a window function more suitable than a `GROUP BY` query when tasked with calculating the average household income per province?

* A window function retains individual row details while computing the provincial average, allowing comparisons within the same query. In contrast, GROUP BY collapses data, losing individual information.
* A window function calculates aggregates by dividing rows into independent groups, which prevents any mixing of data from different groups, unlike GROUP BY which does not maintain this separation.
* Using a window function ensures that the income categories are calculated separately for each province without the need for any additional filtering, making the process automatic and more accurate.
* A window function is essential because it automatically filters out null values, whereas GROUP BY cannot handle null values effectively.

### Question 24
The government wants to assess how the age distribution varies across different types of areas (`area`). Understanding the age distribution can help tailor specific services to different regions.

Write a query to calculate the average age of individuals living in urban areas ("Urban areas/towns") compared to those living in rural areas, (which will include "Traditional area/chiefdom" OR "Farm/rural areas").

For this question age can be calculated simply as `2021 - birth year`.
Remember to account for `NULL` values.

What is the average age in these two area types?

* Urban: 37.98, Rural: 49.23 
* Urban: 44.87, Rural: 49.62
* Urban: 29.88, Rural: 40.10
* Urban: 41.57, Rural: 42.22

In [ ]:
%%sql
#Your code here

### Question 25

During the COVID-19 pandemic, access to electricity became critical for families to stay connected to information, resources, and work-from-home opportunities. The government wants to analyse whether households with electricity access differ in income.

Write a query to calculate the average household income (`hhinc`) for households with access to electricity (`enrgelec = 'Yes'`) versus those without electricity (`enrgelec = 'No'`). Remember to exclude rows with NULL values in the columns.

What is the difference in average income between these two groups (round to the nearest whole number before calculating the difference)?

* R1908
* R2708
* R1203
* R3845

In [ ]:
%%sql
#Your code here

### Question 26

The government is running several large-scale analyses on an employment dataset, which includes millions of records. One of the queries is performing slowly when calculating the employment rate across provinces, particularly when filtering based on age groups.

What steps would you take to optimise this query, and why would these optimisations improve performance?

* Removing all WHERE clauses from the query, as these clauses slow down performance by filtering data.
* Adding more GROUP BY clauses to break down the query into smaller, faster calculations.
* Implement indexing on the columns frequently used in filtering conditions (e.g., age groups and province) to speed up lookups and filtering by reducing the need to scan all rows.
* Adding additional nested subqueries to improve query readability and performance.

### Question 27

We want to analyse the correlation between the type of dwelling and access to basic services. Specifically, we want to know how many households living in informal houses (`dwltyp` is "An informal house like a shack") have access to piped or tap water (`watsrc = 'Yes'`).

Write a query to calculate the percentage of households living in informal houses that have access to piped or tap water.

What percentage of these households have access to water?

* 32.45%
* 67.89%
* 66.03%
* 14.21%

In [ ]:
%%sql
#Your code here

In [ ]:
#conn.close()

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>